body {
  font-family: Arial, sans-serif;
  background: rgb(5, 5, 77);
  margin: 0;
  padding: 20px;
  color: black;
}
.wrap {
  max-width: 900px;
  margin: auto;
}
.img-wrapper {
  display: inline-block;
  resize: both;
  overflow: auto;
  border: 1px dashed #999;
  padding: 4px;
  margin: 6px;
  background: #f9f9f9;
  max-width: 100%;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none; /* prevent drag of image inside wrapper */
}

.app-title {
  margin-bottom: 10px;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.meta-row input {
  margin: 5px;
  padding: 8px;
}
.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 12px 0;
}
.toolbar button {
  padding: 6px 10px;
  cursor: pointer;
  background-color: darkblue; 
  color: white;              
  border: none;              
  border-radius: 4px;        
  font-size: 14px;           
  transition: background-color 0.3s, transform 0.2s;

}
.toolbar select {
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  background-color: darkblue;
  color: white;
  font-size: 14px;
  cursor: pointer;
}


.editor {
  border: 1px solid #ccc;
  background: #fff;
  min-height: 800px;
  padding: 10px;
}
.modal-backdrop {
  position: fixed; inset: 0;
  background: rgba(0,0,0,0.6);
  display: none; place-items: center;
}
.modal {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  width: 80%; max-width: 700px;
}
.modal header {
  display: flex; justify-content: space-between;
  align-items: center; margin-bottom: 10px;
}
.preview-area {
  max-height: 60vh;
  overflow-y: auto;
}
td {
  resize: both;
  overflow: auto;
  background-color: white;
  border: black;
}
